h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3, h4, h5 {
    color: #838383;
}
p {
    color: #000;
}
hr {
    color: #000;
}
.main div {
    background-color: #cacaca;
    color: #fff;
    padding: 50px 100px;

    div.sections, div.tags{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    div.tags {
        background-color: lightgreen
    }
}