header {
    display:flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color:#f3f3f3;

    &:first-child div {
        text-align: left;
    }
    &:last-child div {
        text-align: right;
    }

    p {
        margin: 0;
    }
    div {
        display: flex;
        align-items: center;
    }
}