.process {
    div {
        width: 48%;
        text-align: left;

        h3 {
            text-align: left;
        }
        
        &.slider {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        
            .slide-left, .slide-right {
                padding: 10px;
                font-size: 30px;
                line-height: 24px;
                background: #f2f2f2;
            }

            img {
                width: 100%;
                user-select: none;
            }
        }
    }
}