body {
  width: 100%;
  padding: 0;
  margin: 0;
}
#root {
  width: 80%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}
h3,
h4,
h5 {
  color: #838383;
  font-size: 1.6rem;
}
p {
  color: #000;
}
hr {
  color: #000;
}
.main > div {
  background-color: #cacaca;
  color: #fff;
}
.main > div.sections,
.main > div.tags {
  display: flex;
  flex-flow: row nowrap;
}
.main > div.tags {
  background-color: lightgreen;
}
.main > div.tags div {
  width: 100%;
  background-color: #fff;
  padding: 50px 100px;
}
.main > div.tags div:nth-child(2) {
  padding: auto 30px;
  clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0 100%);
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0 30px;
  background-color: #f3f3f3;
}
header:first-child div {
  text-align: left;
}
header:last-child div {
  text-align: right;
}
header p {
  margin: 0;
  padding: 20px 0;
}
header div {
  display: flex;
  align-items: center;
}
#hero {
  z-index: 999;
  padding: 50px;
  text-align: center;
}
#hero svg {
  width: 75px;
  height: auto;
}
#hero p {
  margin: 0;
  font-weight: 100;
}
#hero .parallax {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: -1;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-image: url('../img/hero.jpg');
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  opacity: 0.3;
  filter: opacity(0.3);
}
