header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #f3f3f3;
}
header:first-child div {
  text-align: left;
}
header:last-child div {
  text-align: right;
}
header p {
  margin: 0;
}
header div {
  display: flex;
  align-items: center;
}
