section {
  padding: 30px 20%;
}
.stats .progress {
  width: 100%;
  background-color: lightgrey;
  border-radius: 15px;
}
.stats .progress .level {
  width: 75%;
  height: 20px;
  background-color: #00e607;
  border-radius: 15px;
}
.stats .progress .level img {
  position: relative;
  height: 40px;
  top: -20px;
  left: 100%;
}
